#grid {
    display: flex;
    flex-direction: column;
    width:600px; 
    max-width:600px; 
    height: 600px;
    max-height: 600px;
    display: inline-block;
    background-color: #f1f1f1;

    }

.flexcontainer {
    display: flex;
    
}

.flexdiv {
    border-style: dotted;
    border-width: 1px;
    width:10px;
    height: 10px;

}

.hover {
    background-color: red;
}

/* make the flexcontainer responsive*/
@media (max-width: 800px) {
    .flexcontainer {
      flex-direction: row;
    }
  }