

.flexcontainer {
    display: flex;
    background-color: #f1f1f1;
    flex: 50%;
}

.flexdiv {
    border-style: solid;
    width: 30px;
    height: 30px;
    flex: 50%;

}

.flexdiv :hover {
    background-color: red;
}

/* make the flexcontainer responsive*/
@media (max-width: 800px) {
    .flexcontainer {
      flex-direction: row;
    }
  }